<!--  pub/static file --> 
<!-- working btn click incrementClickCounter  -->
<div>
    You've clicked <span data-bind="text: numberOfClicks"></span> times
    <button data-bind="click: incrementClickCounter">Click me</button>
</div>


<!-- working live time update on front
<div>
	<span><b data-bind="text : times"/></span>
</div> -->



<!--  working observableArray
<div data-bind="foreach: obArr">
   <div>
   	<span data-bind="text: $data.firstname"></span>
   	<span data-bind="text: $data.lastname"></span>
   </div>
</div>
-->



<!-- working checkbox click event	
<label>
	<input type="checkbox" data-bind="checked: displayMessage" />
	 Display message
	</label>
 
<div data-bind="if: displayMessage">Here is a message. Astonishing.</div>
 -->

<!-- 
	working attr example
 <a data-bind="attr: { href: url, title: details }">
	External Link attributes set by KO
</a>	 -->